{% extends "layout.html" %}

{% block body %}

	<div class="jumbotron text-center">
		<h3>Ben UTKU</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam nemo, dicta maiores deleniti iste itaque laborum facere quam, ipsum delectus excepturi. Eius sunt quod, dolores ipsum nulla voluptate blanditiis quaerat facere earum voluptas minima porro amet aspernatur quam qui, ullam quia! Expedita blanditiis, aliquid modi ad saepe dolorem beatae quia perspiciatis eum corporis, non sint fugiat esse, consequuntur ratione deserunt reiciendis, ullam quod sunt. Sapiente explicabo qui sunt modi aliquid ullam eaque blanditiis ipsa esse inventore quas illum, magnam cumque voluptatibus a minus? Libero odit nesciunt, fuga culpa non perferendis asperiores itaque earum unde dicta natus ad dignissimos expedita consequatur!
		</p>
	</div>
    
{% endblock body %}